<mat-toolbar color="primary">
    <span class="title-center">Autor</span>
</mat-toolbar>


<mat-card>
  <mat-card-header [style.backgroundColor]="'#9fa8da'">
    <div mat-card-avatar></div>
    <mat-card-title style="line-height: 3;">Jovana Malić</mat-card-title>
    <mat-card-subtitle>IM 40/16</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <style>
            ul.big {
                line-height: 2;
            }
            
        </style>
       
            <ul class="big">
                <br><li>Student na smeru Inženjerski menadžment</li>
                <li>Živi u divnom, malom Begeču</li>
                <li>Radi na usavršavanju svojih veština programiranja</li>
                <li>Preostalo vreme provodi na biciklu</li>
            </ul>
       
    </mat-card-content>
    </mat-card>