<mat-card >
    <mat-card-header [style.backgroundColor]="'#9fa8da'">
        <div mat-card-avatar></div>
      <mat-card-title style="line-height: 3;">Prodavnica slatkiša i grickalica</mat-card-title>
      </mat-card-header>
  
      <mat-card-content [style.backgroundColor]="'#ffffff'">
          <p style="line-height: 3;">
              Aplikacija omogućava evidenciju prodaje slanih i slatkih konditorskih proizvoda. <br>
              U evidenciji se nalaze proizvodi četiri proizvođača sa terirtorije Srbije. <br>
              Aplikacija ima funkcionalnost za dodavanje novog proizvoda, proizvođača i računa kao i njihovu izmenu ili brisanje.

          </p>

      </mat-card-content>



